body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #e4e4e4, #f8f8f8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container, .painel {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  text-align: center;
  width: 300px;
}

.logo-img {
  max-width: 150px;
  margin-bottom: 20px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  background-color: #2c3e50;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #34495e;
}

ul {
  text-align: left;
  margin-top: 20px;
}